{% extends 'basic.html' %}
{% block title %}about
{% endblock title %}
{% block body %}
<h1 class="text-center">About me </h1>
<hr style="color: lightgray" />
<div class="text-center">
	<p class="text-center" style="width: 80%; text-align: center; margin: auto;">I completed B.Tech as a CSE graduate at Sri Venkateswara University, Tirupati(2020). As a CSE student, I learned a lot of technical skills. Understanding Concepts is completely different from Implementing those Concepts. This requires a lot of experience. I gained some experience by doing projects on various technologies. I am interested to tackle real-world problems through these amazing technologies. I want an opportunity to utilize those skills which are required to solve real-time problems and learn more from this opportunity.
	</p>
</div>
{% endblock body %}